In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity 
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
li=LinearRegression()
lr=LogisticRegression()
rmc=RandomForestClassifier()
svc=SVC()
dt=DecisionTreeClassifier()
gn=GaussianNB()

In [3]:
df=pd.read_csv("crop.csv")

In [4]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df['Sno'] = np.arange(len(df))

In [6]:
len(df)

2200

In [7]:
crops=df.label.unique().tolist()

In [8]:
crops

['rice',
 'maize',
 'chickpea',
 'kidneybeans',
 'pigeonpeas',
 'mothbeans',
 'mungbean',
 'blackgram',
 'lentil',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

In [9]:
combinedDF=[]
for i in range(len(crops)):
    k=df[df["label"]==crops[i]]["Sno"].tolist()[0]
    combinedDF.append(str(df[df["Sno"]==k]["N"].values[0])+" "+str(df[df["Sno"]==k]["P"].values[0])+" "+str(df[df["Sno"]==k]["K"].values[0])+" "+str(df[df["Sno"]==k]["temperature"].values[0])+" "+str(df[df["Sno"]==k]["humidity"].values[0])+" "+str(df[df["Sno"]==k]["ph"].values[0])+" "+str(df[df["Sno"]==k]["rainfall"].values[0])+" "+df[df["Sno"]==k]["label"].values[0])

In [10]:
feature_extraction=TfidfVectorizer(stop_words='english',min_df=1)

In [11]:
dfc=pd.DataFrame(combinedDF)

In [12]:
print(combinedDF)

['90 42 43 20.87974371 82.00274423 6.502985292000001 202.9355362 rice', '71 54 16 22.61359953 63.69070564 5.7499144210000015 87.75953857 maize', '40 72 77 17.02498456 16.98861173 7.485996067 88.55123143 chickpea', '13 60 25 17.13692774 20.59541693 5.68597166 128.256862 kidneybeans', '3 72 24 36.51268371 57.92887167 6.03160778 122.6539694 pigeonpeas', '3 49 18 27.91095209 64.70930606 3.692863601 32.67891866 mothbeans', '19 55 20 27.43329405 87.80507732 7.18530147 54.73367631 mungbean', '56 79 15 29.48439992 63.19915325 7.454532137 71.89090748 blackgram', '32 76 15 28.05153602 63.49802189 7.604110177000001 43.35795377 lentil', '2 24 38 24.55981624 91.63536236 5.922935513 111.9684622 pomegranate', '91 94 46 29.36792366 76.24900101 6.149934034 92.82840911 banana', '2 40 27 29.73770045 47.54885174 5.954626604 90.09586854 mango', '24 130 195 29.99677232 81.54156612 6.112305667 67.12534492 grapes', '119 25 51 26.47330219 80.92254421 6.283818329 53.65742581 watermelon', '115 17 55 27.57826922 94.11878202 6.776533055 28.08253201 muskmelon', '24 128 196 22.75088787 90.69489172 5.521466996 110.4317855 apple', '22 30 12 15.78144173 92.51077745 6.354006743999999 119.035002 orange', '61 68 50 35.21462816 91.49725058 6.7932454170000005 243.0745066 papaya', '18 30 29 26.762749300000007 92.86056895 6.4200187170000005 224.5903664 coconut', '133 47 24 24.40228894 79.19732001 7.231324765 90.8022356 cotton', '89 47 38 25.52468965 72.24850829 6.002524871 151.8869972 jute', '91 21 26 26.33377983 57.36469955 7.261313694 191.6549412 coffee']

In [13]:
combinedDF=feature_extraction.fit_transform(combinedDF)

In [14]:
print(combinedDF)

  (0, 178)	0.31694780843122194
  (0, 152)	0.31694780843122194
  (0, 37)	0.31694780843122194
  (0, 82)	0.31694780843122194
  (0, 1)	0.31694780843122194
  (0, 136)	0.31694780843122194
  (0, 140)	0.31694780843122194
  (0, 36)	0.2531275493052584
  (0, 69)	0.2796153500562261
  (0, 67)	0.31694780843122194
  (0, 145)	0.2325820148696191
  (1, 169)	0.3263576252762641
  (1, 124)	0.3263576252762641
  (1, 139)	0.28791680903811523
  (1, 122)	0.3263576252762641
  (1, 114)	0.3263576252762641
  (1, 104)	0.2606426158683822
  (1, 103)	0.3263576252762641
  (1, 40)	0.2606426158683822
  (1, 26)	0.28791680903811523
  (1, 89)	0.28791680903811523
  (1, 118)	0.28791680903811523
  (2, 161)	0.3189139149520463
  (2, 93)	0.3189139149520463
  (2, 141)	0.3189139149520463
  :	:
  (19, 74)	0.25500126450309
  (19, 130)	0.2816851347651025
  (19, 43)	0.43478492334641433
  (19, 145)	0.23430364673940016
  (20, 166)	0.3212167495013538
  (20, 142)	0.3212167495013538
  (20, 25)	0.3212167495013538
  (20, 0)	0.3212167495013538
  (20, 45)	0.3212167495013538
  (20, 87)	0.3212167495013538
  (20, 143)	0.3212167495013538
  (20, 74)	0.25653690113690397
  (20, 64)	0.28338146365582007
  (20, 47)	0.25653690113690397
  (20, 119)	0.25653690113690397
  (21, 163)	0.3033354848800429
  (21, 108)	0.3033354848800429
  (21, 31)	0.3033354848800429
  (21, 50)	0.3033354848800429
  (21, 62)	0.3033354848800429
  (21, 57)	0.3033354848800429
  (21, 38)	0.3033354848800429
  (21, 49)	0.4845123762492866
  (21, 146)	0.22259304648311767
  (21, 96)	0.2676063867077148

In [15]:
m=input("enter crop name: ")

enter crop name: rice

In [16]:
similarity=cosine_similarity(combinedDF)

In [17]:
print(similarity.shape)

(22, 22)

In [18]:
similar_crops=difflib.get_close_matches(m,crops)

In [19]:
print(similar_crops)

['rice']

In [20]:
similar_index=-1
for i in range(len(crops)):
    if crops[i] == similar_crops[0]:
        similar_index=i
        break
similar_index

0

In [21]:
similar_crop_indexes=list(enumerate(similarity[similar_index]))

In [22]:
similar_crop_indexes=sorted(similar_crop_indexes,key=lambda x:x[1],reverse=True)

In [23]:
rest_crops=[]
for i in range(1,4):
    rest_crops.append(crops[similar_crop_indexes[i][0]])

In [24]:
rest_crops

['lentil', 'mungbean', 'kidneybeans']

In [25]:
m=input("Enter Crop Name: ")
similar_crops=difflib.get_close_matches(m,crops)
similar_index=-1
for i in range(len(crops)):
    if crops[i] == similar_crops[0]:
        similar_index=i
        break
similar_crop_indexes=list(enumerate(similarity[similar_index]))
similar_crop_indexes=sorted(similar_crop_indexes,key=lambda x:x[1],reverse=True)
rest_crops=[]
for i in range(1,4):
    rest_crops.append(crops[similar_crop_indexes[i][0]])
rest_crops

Enter Crop Name: rice

['lentil', 'mungbean', 'kidneybeans']