In [10]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as ttl
from matplotlib import pyplot as plt
import difflib

In [2]:
lb=LabelEncoder()
rmc=RandomForestClassifier(n_estimators= 20, criterion="entropy")

In [4]:
df=pd.read_csv("crop.csv")
df1=pd.read_csv("crop.csv")
df.insert(0, 'Sno', range(0, 0 + len(df)))
# df1['Sno'] = np.arange(len(df))
df.tail()

       Sno    N   P   K  temperature   humidity        ph    rainfall   label
2195  2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196  2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [42]:
print(df[df.label=="papaya"]["label"].count())

100

In [5]:
crops=df.label.unique().tolist()

In [160]:
y=df["Sno"]
df["label"]=lb.fit_transform(df["label"])
x=df.iloc[:,1:8]
x2=df[["label"]]
x2.insert(0, 'Sno', range(0, 0 + len(x2)))
x
# index=[]
# for i in range(2200):
#     index.append([df1[df1['Sno']==i]["label"],x2[x2["Sno"]==i]["label"]])

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [148]:
rmc.fit(x,y)

RandomForestClassifier(criterion='entropy', n_estimators=20)

In [136]:
print(rmc.score(x,y))

1.0

'coffee'

In [138]:
index=[]
for i in range(len(df)):
    item=df1[df1['Sno']==i]["label"].values[0]
    inde=x2[x2["Sno"]==i]["label"].values[0]
    index.append([item,inde])

In [139]:
r=rmc.predict([[90,42,43,20.879744,82.002744,6.502985,202.935536,20]])
k=df[df["Sno"]==r[0]]
for i in index:
    if(i[1]==r[0]):
        k["label"]=i[0]
print(k)

    N   P   K  temperature   humidity        ph    rainfall  label  Sno
0  90  42  43    20.879744  82.002744  6.502985  202.935536  apple    0

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_7072\4263130643.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k["label"]=i[0]